.Practice__paragraph {
  padding: 0 50px;
}
.Practice__token {
  display: inline-block;
  padding: 5px;
  background: #e1e1e1;
  min-height: 20px;
  min-width: 20px;
  vertical-align: middle;
  margin: 2px;
  border-radius: 5px;
}
.Practice__token--correct {
  background: #29bb6a;
}
.Practice__token--wrong {
  background: #ff006a;
}
.Practice__token--amended {
  background: gold;
}
