.Practice__token {
  display: inline-block;
  padding: 5px;
  background: #e1e1e1;
  min-height: 20px;
  min-width: 20px;
  vertical-align: middle;
  margin: 0 2px;
}
.Practice__token--correct {
  background: green;
}
.Practice__token--wrong {
  background: red;
}
.Practice__token--amended {
  background: teal;
}
